@import '../../assets/styles/colors.scss';


.container{
  padding: 100px 50px;
}

.content{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 30px;

}

.documents_list{
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: $beeline-color-boxshadow;

  & > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid $border;
    & > p{
      width: 100%;
      padding: 10px;
    }
  }
  .data{
    color: #007bff;
    font-weight: 500;
  }
  .document{
    .name{
      width: 100%;
      font-weight: 500;
    }
  }
}

.Search__wrapp{
  width: 100%;
  display: flex;
  justify-content: space-between;
  button{
    padding: 7px;
    color: white;
    background-color: $background__menu;
    border-radius: 5px;
  }
}

.sortSelector{
  display: flex;
  align-items: center;
  select{
    height: 100%;
    border: 2px solid $border;

  }
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  button{
    width: 100%;
    padding: 7px;
    color: white;
    background-color: $background__menu;
    border-radius: 5px;
  }
}


.form {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  .input{
    padding: 20px;
    font-size: 16px;
    resize: 'vertical'; 
    // min-height: 100px;
    // max-height: 500px;
  }
  .select{
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
  }
  .saveBtn{
    width: 150px;
    padding: 10px;
    color: white;
    background-color: $background__menu;
  }
}

.inputName{
  width: 200px;
  padding: 7px;
  font-size: 16px;
}

.name__wrapp{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.instruction__wrapp{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.successDocument{
  color: green;
}