@import '../../assets/styles/colors.scss';


.input__wrapp {
  // z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;

  .input__box {
    gap: 10px;
    border: 1px solid $border;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon{
      color: $icon-color;
      width: 20px;
      height: 20px;
    }
  }
  .input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    width: 250px;
  }
}

@media (max-width: 450px) {
  .input__wrapp {
    .input__box {
      width: 250px;
    }
  }

}