@import '../../assets/styles/colors.scss';

.container{
  padding: 100px 50px;
}

.content{
  width: 100%;
  background: #1D1F1E;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}



.surveys_list{
  display: flex;
  flex-direction: column;
  width: 90%;
  background: #1D1F1E;
  border-radius: 15px;
  // box-shadow: $beeline-color-boxshadow;
  .search_box{
    display: flex;
    justify-content: center;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;  
  }
  & > :last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  & > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid $border;
    & > p{
      width: 200px;
      padding: 10px;
    }
    & > a{
      width: 200px;
      padding: 10px;
    }
  }
  .data{
    color: #007bff;
    font-weight: 500;
  }
  .survey{
    .name{
      width: 100%;
      font-weight: 500;
    }
  }
}


.Search__wrapp{
  display: flex;
  justify-content: center;
  gap: 10px;
  button{
    padding: 7px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    &:hover{
      color: black;
      background: $beeline-color;
    }
  }
}


.form {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  .input{
    padding: 20px;
    font-size: 16px;
    resize: 'vertical'; 
    // min-height: 100px;
    // max-height: 500px;
  }
  .select{
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
  }
  .saveBtn{
    width: 150px;
    padding: 10px;
    color: black;
    border-radius: 15px;
    background-color: $beeline-color;
  }
}

.inputName{
  width: 200px;
  padding: 7px;
  font-size: 16px;
}

.name__wrapp{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description__wrapp{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.successSurvey{
  color: green;
}

.icon{
  width: 25px;
  height: 25px;
}


.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    color: black;
    background: $beeline-color;
  }
}

select{
  background: transparent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 125px;
  font-size: 15px;
  option{
    background: #26272B;
    color: white;
  }
}

@media (max-width: 1200px) {
  .surveys_list{
    width: 100%;
  }
}




@media (max-width: 450px) {
  .container{
    padding: 80px 20px;
  }
}

@media (max-width: 320px) {
  .container{
    padding: 80px 10px;
  }
}