@import '../../assets/styles/colors.scss';

.container{
  padding: 100px;
}

.content_wrapp{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .message__wrapp{
    display: flex;
    gap: 10px;
  }
}

.message{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  border: 1px solid $border;
  padding: 10px 20px;
  border-radius: 15px;
  .message__text{
    padding: 20px;
    font-size: 15px;
    height: 200px;
    border: 1px solid $border;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    outline: none;
  }

}

.icon{
  color: $icon-color;
  width: 20px;
  height: 20px;
}
.search__addBtn{
  display: flex;
  gap: 20px;
  button{
    background: transparent;
    color: white;
    padding: 5px;
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button{
  padding: 2px;
  background-color: $beeline-color;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  border: 1px solid $border;
}

.img {
  width: 300px;
  height: 300px;
}

.form {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  .input{
    padding: 20px;
    font-size: 16px;
    resize: 'vertical'; 

  }
  .select{
    width: 150px;
    height: 30px;
    padding: 2px;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 1px solid $border;
    outline: none;
    option{
      background: $background;
    }
  }
  .saveBtn{
    width: 150px;
    padding: 10px;
    color: black;
    background-color: $beeline-color;
    border-radius: 15px;
  }
}

.select_wrapp{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.successMessage{
  color: green;
}

.inputFiles{
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.icon{
  width: 25px;
  height: 25px;
}

@media (max-width: 780px) {
  .container{
    padding: 80px 20px;
  }
  .message{
    width: 90%;
  }
}


@media (max-width: 550px) {
  .img {
    width: 150px;
    height: 100px;
  }

  .search__addBtn{
    width: 90%;
    gap: 10px;
  }
  video{
    width: 150px;
  }
}

@media (max-width: 400px) {
  .search__addBtn{
    width: 100%;
    gap: 0;
  }
}