@import '../../assets/styles/colors.scss';

.container{
  padding: 100px;
}

.content_wrapp{
  background-color: white;
  padding: 50px;
  border: 1px solid $border;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .message__wrapp{
    display: flex;
    gap: 10px;
  }
}

.message{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  border: 1px solid $border;
  padding: 10px 20px;
  box-shadow: $beeline-color-boxshadow;
  .message__text{
    padding: 20px;
    font-size: 15px;
    height: 200px;
    border: 1px solid $border;
    border-radius: 15px;
  }
}

.icon{
  color: $icon-color;
  width: 20px;
  height: 20px;
}
.search__addBtn{
  display: flex;
  gap: 50px;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button{
  padding: 10px;
  background: $background__menu;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
}

.img {
  width: 300px;
  height: 300px;
}