$text-dark:#162848;
$text-menu: #6B6e7d;
$text-grey: #acacac;
$border: #303433;
$icon-color: #909090;
$background-active__menu: #282828;
$background__menu: #1D1F1E;
$background: #26272B;
$beeline-color: #FCD305;
$beeline-color-boxshadow: 0px 5px 10px 2px rgba(255, 169, 16, 0.2);