@import '../../assets/styles/colors.scss';

.container{
  padding: 100px;
}

.content_wrapp{
  background-color: transparent;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .holiday__wrapp{
    display: flex;
    gap: 10px;
  }
}

.holiday{
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 600px;
  border: 1px solid $border;
  padding: 10px 20px;
  border-radius: 15px;
}

.icon{
  color: $icon-color;
  width: 20px;
  height: 20px;
}
.search__addBtn{
  display: flex;
  gap: 50px;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button{
  padding: 7px;
  background: $beeline-color;
  border-radius: 12px;
  cursor: pointer;
  color: black;
  border: none;
}


.img {
  width: 300px;
  height: 300px;
}

.inputFiles{
  border: none;
  border-radius: 0px;
  cursor: pointer;
}