@import '../../assets/styles/colors.scss';

.container{
  padding: 100px 50px;
}

.content{
  width: 100%;
  // background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.users_list{
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: $beeline-color-boxshadow;
  border-radius: 15px;
  overflow-x: auto;
  border: 1px solid $border;
  .search_box{
    // border-top-right-radius: 15px;
    // border-top-left-radius: 15px;
    border: none;
  }
  & > :last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  & > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid $border;
    & > p{
      width: 100%;
      padding: 10px;
    }
  }
  .data{
    color: #007bff;
    font-weight: 500;
  }
  .user{
    .name{
      width: 100%;
      font-weight: 500;
    }
    .link{
      color: #007bff;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

.Search__wrapp{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sortSelector{
  display: flex;
  align-items: center;
  select{
    height: 100%;
    border: 2px solid $border;
    background-color: transparent;
    color: white;
    outline: none;
    option{
      background: #1D1F1E;
      border: 1px solid $border;
    };
  }
}


@media (max-width: 1500px) {
  .users_list{
    width: 100%;
  }
}

@media (max-width: 850px) {
  .container{
    padding: 80px 20px;
  }
}

@media (max-width: 750px) {
  .users_list{
    .data{
      width: 710px;
    }
    .user{
      width: 710px;
    }
  }
}