@import '../../assets/styles/colors.scss';

.container{
  padding: 100px 50px;
}

.content{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.users_list{
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: $beeline-color-boxshadow;

  & > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid $border;
    & > p{
      width: 100%;
      padding: 10px;
    }
  }
  .data{
    color: #007bff;
    font-weight: 500;
  }
  .user{
    .name{
      width: 100%;
      font-weight: 500;
    }
    .link{
      color: #007bff;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

.Search__wrapp{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sortSelector{
  display: flex;
  align-items: center;
  select{
    height: 100%;
    border: 2px solid $border;

  }
}